/********** common setting **********/
:root {
  --primary-color: #ffea20;
  --primary-color-hover: #b4a412;
  --secondary-color: #2b220f;
  --secondary-color-2: #241d0d;
}

h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: 0.3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

.cta-green {
  background: var(--primary-color);
  color: var(--secondary-color);
}

.cta-green:hover {
  color: #ffffff;
  background: var(--primary-color-hover);
}

.cta-blue {
  background: var(--secondary-color-2);
  color: #ffffff;
}

.cta-blue:hover {
  color: #ffffff;
  background: var(--secondary-color-2);
}

.cta-ghost {
  border: 2px solid var(--secondary-color) !important;
  color: var(--secondary-color);
}

.cta-ghost:hover {
  color: #ffffff;
  background: var(--secondary-color-2);
}

#banner {
  background-size: cover;
  min-height: 100vh;
}

/********** banner **********/
#banner header {
  overflow: hidden;
}

#banner header img {
  max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
  width: 100%;
  max-width: 480px;
}

#feature-first {
  background: linear-gradient(168deg, #ffffff 55%, var(--primary-color) 0);
}

#feature-last {
  background: var(--primary-color);
}

/********** price table **********/
#price-table {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

#price-table__premium {
  background: var(--secondary-color);
  color: #ffffff;
}

#price-table ul li {
  padding: 5px 0;
}

/********** contact **********/
#contact {
  background-size: cover;
}

#contact ul li {
  padding: 3px 0;
}

#contact form {
  color: var(--primary-color);
}

#contact form input,
#contact form textarea {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: #ffffff;
}

/********** copyright **********/
#copyright {
  background: var(--secondary-color);
  padding: 2rem 3rem;
}

#copyright #social-media a {
  width: 40px;
  height: 40px;
  border-radius: 99%;
  background: #ffffff;
  transition: 0.4s ease;
}

#copyright #social-media a i {
  color: var(--secondary-color);
  font-size: 1.2rem;
  line-height: 40px;
}

#copyright #social-media a:hover {
  background: var(--primary-color);
}

#copyright #social-media a:hover i {
  color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
  #banner h1 {
    font-size: 3.6rem;
  }
}
