/********** common setting **********/

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

body {
  background-color: black;
  color: white;
}

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#mainHeader {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  box-shadow: #000;
}

#logoImg {
  width: 150px;
  object-fit: cover;
  filter: drop-shadow(5px 5px 5px #222);
  margin: 25px;
}

h2 {
  font-size: 2.8rem !important;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.counter {
  animation-duration: 1s;
  animation-delay: 0s;
}

.atlas-cta {
  border-radius: 22px !important;
  padding: 12px 30px !important;
  font-weight: 700;
  transition: 0.3s ease-in-out !important;
}

.atlas-cta:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.atlas-cta-wide {
  width: 100%;
}

/********** feature (skew background) **********/
.feature img {
  width: 100%;
  max-width: 480px;
}

/********** contact **********/
#contact {
  background-size: cover;
}

#contact ul li {
  padding: 3px 0;
}

#contact form input,
#contact form textarea {
  background: transparent;
  border: 1px solid white;
  color: #ffffff;
}

/********** copyright **********/
#copyright {
  padding: 2rem 3rem;
}

.text-active {
  font-weight: bold;
  color: #34ED35;
  background-color: #0000;
}

.text-active:hover {
  color: #18D1DD;
  background-color: #0000;
}

.bg-none {
  background-color: #0000;
  border-color: #0000;
}

.bg-black-a {
  background-color: #000a;
  border-color: #0000;
}

.img-h-100 {
  height: 100vh;
  object-fit: contain;
}

/********** RWD **********/
@media (max-width: 575px) {
  #banner h1 {
    font-size: 3.6rem;
  }
}
